/** Custom Properties */
:root {
	--ff-base: "Poppins", Arial, Helvetica, sans-serif;
	--point: 0.25rem;

	--clr-neutral-100: #fff;
	--clr-neutral-200: #999;
	--clr-neutral-700: #000;
}

/** Reset */
* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

img {
	display: block;
	max-width: 100%;
}

ul[role="list"] {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

/** Base Styles */
body {
	margin: 0;
	font-size: 1.25rem;
	font-family: var(--ff-base);
	font-weight: 400;
	line-height: 1.5;
}

h1,
h2,
h3,
p {
	margin: 0;
}

/** Utilities */
.container {
	max-width: 71.25em;
	width: 90%;
	margin: 0 auto;
}

.btn {
	background: var(--clr-neutral-700);
	color: var(--clr-neutral-100);
	padding: 0.85em 1.5em;
	border-radius: 3px;
	font-weight: 500;
}

.btn span {
	color: var(--clr-neutral-200);
	font-weight: 400;
}

.flow-content > * + * {
	margin-top: 1em;
}

/* Typography */

header {
	background-image: url("./Assets/Background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

main {
	padding: 3em 0;
}

h1 {
	font-size: 3.5rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	gap: 1em;
	flex-wrap: wrap;
	padding: 2em 0;
}

.navbar-list {
	flex-basis: 100%;
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease-in;
}

.navbar-list.open {
	max-height: 1000px;
}

.navbar-list li:first-child a {
	display: flex;
	align-items: center;
}

.hero-content {
	max-width: 43.75em;
	margin: 0 auto;
	text-align: center;
}

.hero-image img {
	margin-top: 5em;
}

.snipper {
	padding: min(2vw, 3em) 0;
	display: grid;
	grid-template-columns: 1fr;
	gap: 3em;
}

.snipper-image {
	padding: 0 1em;
}

.snipper-content h2 {
	width: 15ch;
	font-size: 2.15rem;
}

.footer-content {
	padding: 1em 0;
}

.terms-privacy {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 0.25em;
}

@media screen and (max-width: 20em) {
	body {
		font-size: 0.875rem;
	}

	h1 {
		font-size: 2.5rem;
		line-height: 1.2;
	}

	.snipper-content h2 {
		font-size: 1.5em;
	}

	.terms-privacy {
		flex-wrap: wrap;
		gap: 0.5em;
	}
}

@media screen and (max-width: 55em) {
	.navbar-list {
		background: var(--clr-neutral-100);
		border-radius: 4px;
	}

	.navbar-list li {
		margin: 0.75em;
	}

	.navbar-list .btn {
		width: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 55em) {
	.menu-toggle {
		display: none;
	}

	.navbar-list {
		display: flex;
		align-items: center;
		flex-basis: auto;
		max-height: 1000px;
	}

	.navbar-list li:not(:last-child) {
		margin-right: 1.25em;
	}

	.btn {
		padding: 0.75em 1em;
	}

	main {
		padding: 3em 0 1em;
	}

	.flow-content > * + * {
		margin-top: 1.25em;
	}

	.hero p {
		padding: 0 5em;
	}

	.snipper {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}

	.snipper-image {
		padding: 0;
		order: 1;
	}

	.snipper-content h2 {
		width: 100%;
	}

	.terms-privacy {
		flex-direction: row;
		font-size: 1rem;
	}
}
